/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.labelQueuePurger {
	-fx-background-color: rgb(245,245,245);
	-fx-padding: 0, 3, 0, 3;
}

#buttonPurgeQueue {
	
}

#comboboxQueuePurger_Queue {
	-fx-min-width: 260;
	-fx-max-width: 260;
}

#comboboxQueuePurger_LDAP {
	-fx-min-width: 240;
	-fx-max-width: 260;
}

#gridQueuePurge {
	-fx-padding: 0px 20px 20px 20px;
}

.panelQueuePurger {
	-fx-border-color: black;
	-fx-border-width: 1px;
	-fx-border-radius: 10px;
	-fx-min-width: 550px;
	-fx-border-style: solid;
}

ComboBox {
	-fx-cell-size: 1;
}